.c
{
	font-size:25px;
	color:#FFF5EE;
	font-family:Times New Roman;
	text-align:center;
}

.camila				
{
	font-size:18px;
	color:#000000;
	margin:1;
	font-family:Bookman Old Style;
	text-align:center;
	line-height:1.5em;
}

.impacto				
{
	font-size:18px;
	color:#000000;
	margin:1;
	font-family:Bookman Old Style;
	text-align:center;
	line-height:1.5em;
}

.table 
{
	border-collapse:separate;
}

.table tr, th, td
{
	box-shadow:4px 4px 4px black;
	background:#FFF5EE;
	padding:10px;
	color:#000000;
	font-family:Bookman Old Style;
	text-align:center;
	margin:500;
	width:200px;
	height:50px;
}

.mil
{
	text-align:right;
}

body
{
background:#A9A9A9;
}