.espacio
{
	font-size:25px;
	color:#849AD5;
	font-family:Times New Roman;
	text-align:center;
}

.blanco				
{
	font-size:18px;
	color:#000000;
	margin:1;
	font-family:Bookman Old Style;
	text-align:center;
	line-height:1.5em;
}

.impacto				
{
	font-size:18px;
	color:#000000;
	margin:1;
	font-family:Bookman Old Style;
	text-align:center;
	line-height:1.5em;
}

.table 
{
	border-collapse:separate;
}

.table tr, th, td
{
	box-shadow:4px 4px 4px black;
	background:#849AD5;
	padding:10px;
	color:#000000;
	font-family:Bookman Old Style;
	text-align:center;
	margin:500;
	width:200px;
	height:50px;
}

.mil
{
	text-align:right;
}
	

body
{
background:#FFEFD5;
}